* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(81, 78, 136) 0%, rgb(209, 216, 218) 0%, rgb(222, 236, 236) 47%, rgb(232, 238, 238) 100%);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
