* {
    margin: 0;
    box-sizing: border-box;
}



body {
    background: rgb(72, 88, 238);
    font-family:fantasy;
    line-height: 2;
    font-size: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background:rgb(219, 248, 255);
    font-family: cursive;
}

.highscores a {
    text-decoration: wavy;
    list-style: none;
    color: black;
}

.highscores a:active {
    color: black;
}

